---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');

  return blogEntries.map((entry) => ({
    params: { slug: entry.data.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
---

<BaseLayout title={entry.data.title}>
  <h1>{entry.data.title}</h1>
  <p>日付: {entry.data.date}</p>
  <p>{entry.data.summary}</p>
</BaseLayout>
