---
import { toHome } from '../../lib/url';
import Nav from './Nav.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<header>
  <a href={toHome()}>komuworks.github.io</a>
  <h1>{title}</h1>
  <Nav />
</header>
