---
import { toHome } from '../../lib/url';
import Nav from './Nav.astro';
---

<header class="site-header" data-reveal>
  <div class="header-inner">
    <a class="site-brand" href={toHome()}>
      <span class="site-brand-mark">KW</span>
      <span>komuworks.github.io</span>
    </a>
    <Nav />
  </div>
</header>
